---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navigation />
  <main>
    <div class="min-h-screen flex items-center">
      <div class="container max-w-6xl mx-auto px-8">
        <h1 class="font-plex text-4xl md:text-6xl text-primary font-bold">
          Under Construction...
        </h1>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
