---
import CSS3Icon from "../assets/brand-css3.svg";
import HTML5Icon from "../assets/brand-html5.svg";
---

<footer
  class="text-center my-12 pt-8 text-muted text-sm border-t border-card-bg"
>
  <div class="container max-w-6xl mx-auto px-8">
    <p>
      &copy; 2025 Josiah. Built with
      <span>
        <CSS3Icon class="w-6 h-6 inline" />
        /
        <HTML5Icon class="w-6 h-7 inline" />
      </span>
    </p>
  </div>
</footer>
